{
"ProjectName":"_ProjectName_",	
"RepositoryName":"_RepositoryName_",	
"RepositoryType":"_RepositoryType_",	 
"PageName":"_PageName_",	
"ObjectName":"_ObjectName_"	,
"ObjectImageBase64" :"_ObjectImageBase64_",
"ObjectProperties": [
                            _ObjectProperties_
                    ]	
}