<HTML>
<BODY>

<div>
	<font face="Calibri" size="3">
	Dear Team,<br><br>Please find below the Automation Scripts execution summary.<br><br>
	</font>
	
</div>


	<table border=2>
		<th border="2" colspan="5" bgcolor="#d3d3d3" font="Calibri">Automation Execution Status</th>
		<tr> 
			<th align= "Center" font="Calibri">Functionality</th> 
			<th align="Center" font="Calibri" >Passed</th> 
			<th align="Center " font="Calibri">Warning</th> 			
			<th align="Center " font="Calibri">Failed</th> 
			<th align="Center" font="Calibri">Total</th> 
		</tr>
	
		_TestFunctionDeatils_
		<tr>
			<td align="Center" font="Calibri">Total</td>
			<td align="Center" font="Calibri">_OverAllPassCount_</td> 
			<td align="Center" font="Calibri">_OverAllWarningCount_</td> 
			<td align="Center" font="Calibri">_OverAllFailCount_</td>
			<td align="Center" font="Calibri">_OverAllTotalCount_</td>
		</tr>
	</table>
<font face="Calibri" size="4"><br><br>
	Thanks,
	<br>Pyramid Automation Team<br><br>Note:- This is auto generated message and please do not respond.
</font>

</BODY>
</HTML>