<br>
					</br>
					
					
					<table border="1" style="border-collapse: collapse;text-align:left;width:100%;height:20px">
                        <tr>
                            <td colspan="6" align="center" bgcolor="orange" ><b>Blocked Test Cases</b></td>
                        </tr>
                        <tr class="hdr" style="background-color:#ddd">
                            <td align="center" style="color: #000;"><b>S. No.</b></td>
                            <td align="center" class="tdborder_1" style="color:#000;"><b>Functionality</b></td>
                            <td align="center" class="tdborder_1" style="color: #000;"><b>Test Case ID</b></td>
                            <td align="center" class="tdborder_1" style="color: #000;"><b>Test Case Name</b></td>
							<td align="center" class="tdborder_1" style="color: #000;"><b>Blocked Reason</b></td>
							<td align="center" class="tdborder_1" style="color: #000;"><b>Defect ID</b></td>
                        </tr>

					    _BLOCKEDTESTCASEDETAILS_


                    </table>