		 <div style="display: none;width: 100%; overflow: auto; " id="_FUNCTIONALITY_NAME__TESTCASEID__TESTCASENAME__BROWSER1_" class="aHide rghtpane">
                <div class="rghtpanhdv">
                    <div style="width: 100%; text-align: center" class="table-responsive">
					
                        <table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
                                <td class='subhdr'>
                                    Test Case Execution Report
                                </td>
                            </tr>
                        </table>
						
                        <table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
                                <td class='subheading2' width='15%' align='center'>Test Case Id</td>
                                <td class='subheading2' width='25%' align='center'>Test Case Name</td>
                                <td class='subheading2' width='10%' align='center'>Environment</td>
                                <td class='subheading2' width='20%' align='center'>Browser</td>
                                <td class='subheading2' width='30%' align='center'>Application URL</td>

                            </tr>
                            <tr>
                                <td class='subheading' valign="middle" align="center">_TESTCASEID1_</td>
                                <td class='subheading' valign="middle" align="center">_TESTCASENAME_</td>
                                <td class='subheading' valign="middle" align="center">_ENVIRONMENT_</td>
                                <td class='subheading' valign="middle" align="center">_BROWSER_</td>
                                <td class='subheading' valign="middle" align="center">_APPLICATIONURL_</td>
                            </tr>

							</table>

							<table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
                                <td class='subheading2' width='10%' align='center'>Step #</td>
                                <td class='subheading2' width='40%' align='center'>Description</td>
                                <td class='subheading2' width='45%' align='center'>Actual Result</td>
                                <td class='subheading2' width='10%' align='center'>Status</td>
                            </tr>
							
							
      
							_TESTCASESTEPS_
	  
							

							
							</table>
							
				<table cellspacing='0' cellpadding='0' border='0' align='center' style='width:100%;'>
                            <tr>
								<td class='subheading2' width='10%' align='center'>Iteration</td>
                                <td class='subheading2' width='15%' align='center'>Steps-Pass</td>
                                <td class='subheading2' width='15%' align='center'>Steps-Fail</td>
								<td class='subheading2' width='25%' align='center'>Video Recording Link</td> 
                                <td class='subheading2' width='15%' align='center'>Run Duration</td> 
                                <td class='subheading2' width='25%' align='center'>Execution Date & Time</td>                   
                            </tr>
							
                            <tr>
								<td class='subheading' align='center'>_ITERARTION_</td>
                                <td class='subheading' align='center'>_TOTAL_PASS_STEPS_</td>
                                <td class='subheading' align='center'>_TOTAL_FAIL_STEPS_</td>
								<td class='subheading' align='center'><a href="_VIDEO_URL_" style="color:#0000FF">Click Here</a></td>
                                <td class='subheading' align='center'>_TEST_RUN_DURATION_</td>
                                <td class='subheading' align='center'>_EXECUTION_DATA_TIME_</td>
                        
                            </tr>
							
							
                        </table>
						
                    </div>
					
					
					
					<div style="padding:5px 0px 5px 0px;">
					<table cellspacing='0' cellpadding='0' border='0' align='_ALIGNMENT_' style='width:_WIDTH_SIZE_%;'>
					
                            <tr class="testData__NO_">
							
								_TESTDATAHEADERS_
                            </tr>
							<tr style="background-color:#fff;" class="testData__NO_">
							
                                _TESTDATAVALUES_
                            </tr>
					
					<tr style="display:none;" class="machineDetail__NO_">
						_MACHINEDATAHEADERS_
					</tr>
					<tr style="background-color:#fff;display:none;" class="machineDetail__NO_">
						 _MACHINEDATAVALUES_
					</tr>
					
					
						<ul class="tab-navbar tab-black">
                             <li><a href="#" class="tablink" onclick="openCity('testData__NO_','machineDetail__NO_');"><b>Test Data</b></a></li>&nbsp;
							<li style="margin-left: 2px;"><a href="#" class="tablink" onclick="openDetail('machineDetail__NO_','testData__NO_');"><b>Machine Details</b></a></li>
                        </ul>

					</table>
                    </div>									
					

                </div>
            </div>        