                            <tr style="background-color:#fff;">
                                <td class='tdborder_1' align='center'>_i_</td>
                                <td class='tdborder_1' align="left">_DESCRIPTION_</b></td>
                                <td class='tdborder_1' align="left" > _ACTUAL_RESULT_  _LOAD_TIME_  <a href="javascript: ShowScreenShotPopup('_SCREENSHOTPATH_');" target="_top" style="color:#0000FF">Screenshot</a> _ACTUAL_RESULT2_  _ACTUAL_AI_PAGE_DIFF_</td>      
								<td class='tdborder_1' width='20%' align='center' style="color:_TEST_STEP_CLASS_">_STATUS_</td>
                            </tr>