		<table class='subheading2' align='center' style="width:96%; margin-left:20px;" >
			<tr> 
				<td onclick="expandCollapse('showHide_FUNCTIONALITY_NAME_','expand_FUNCTIONALITY_NAME_');" id="expand_FUNCTIONALITY_NAME_" width ='60%'>Total</td>
				<td align=center style="color:green;" width ='10%'>_TEST_CASES_PASSED_</td>
				<td align=center style="color:red;" width ='10%'>_TEST_CASES_FAILED_</td>
				<td align=center width ='10%'>_TOTAL_</td>
			</tr>
		</table>
		
		
	</body>	
</html>	