			</table>
		</div>
		
		
		<table class='subheading3' align='center' style="width:96%; margin-left:20px;">
			<td width ='60%'></td>
			<td align=center style="color:green;" width ='10%'>_TOTAL_FUNCTIONALITY_PASSED_</td>
			<td align=center  style="color:red;" width ='10%'>_TOTAL_FUNCTIONALITY_FAILED_</td>
			<td align=center  width ='10%'>_TOTAL_FUNCTIONALITY_</td>		
		</table>