                            <tr>
                                <td width='33%' align='center' class="tdborder_1">_ITERATION_NUMBER_</td>
                                <td width='33%' align='center' class="tdborder_1">_BROWSER_</td>
                                <td width='33%' align='center' style="color:_TEST_STEP_CLASS_" class="tdborder_1">_ITERATION_STATUS_</td>
                            </tr>