,
  {
            "testKey" : "TestKey",
            "comment" : "Test testCaseStatus",
            "status" : "testCaseStatus",
             "steps" : [
						 {
                			 "status": "Pass",
                    		"comment": "Step 1: "
            			  }
            ]          
   }
   