<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Pyramid" parallel ="tests" thread-count ="_THREAD_COUNT_">
	<parameter name ="Browser" value ="_CONFIG_BROWER_"/>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
	</listeners>

		_CUCUMBERTESTSUITE_
		
</suite> <!-- Suite -->
