<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="strSuiteName" parallel ="tests" thread-count ="strThreadCount">
	<parameter name ="Browser" value ="strDefaultBrowser"/>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>		
	</listeners>
	_TestCase_
</suite> <!-- Suite -->