	<test name="strTestName">
		<parameter name ="browserOrMobileAUT" value ="strTestBrowser"/>
		<parameter name ="operatingSystem" value ="strOperatingSystem"/>
		<parameter name ="iteration" value ="strIterationCount"/>
		<parameter name ="aliasDeviceName" value ="strDeviceName"/>
		<parameter name ="operatingSystemVersion" value ="strOSVersion"/>
		<classes> <class name="strClassName"/></classes>
	</test> <!-- Test -->	